<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">     Puertas     </h1>
  </div>
  
  
  
  <div class="row">
  
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2 clickable-card" 
           role="button" 
           tabindex="0">
        <div class="card-body">
          <!-- Resto del contenido igual -->
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">PUERTAS</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">PUERTA DELANTERA</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-toggle-off" style="color: #63E6BE;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2 clickable-card" 
           role="button" 
           tabindex="0">
        <div class="card-body">
          <!-- Resto del contenido igual -->
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">PUERTAS</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">PUERTA BAÑO</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-toggle-off" style="color: #63E6BE;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2 clickable-card" 
             role="button" 
             tabindex="0">
          <div class="card-body">
            <!-- Resto del contenido igual -->
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">PUERTAS</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">PUERTA CUARTO #1</div>
              </div>
              <div class="col-auto">
                <i class="fa-solid fa-toggle-off" style="color: #63E6BE;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2 clickable-card" 
             role="button" 
             tabindex="0">
          <div class="card-body">
            <!-- Resto del contenido igual -->
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">PUERTAS</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">PUERTA CUARTO #2</div>
              </div>
              <div class="col-auto">
                <i class="fa-solid fa-toggle-off" style="color: #63E6BE;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>



  </div>